<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>

<body>
<h1>Microservices - Laptimes Server</h1>

<p>Laptimes Server Microservice is running.</p>

<h3>Spring Boot URL:s for this microservice</h3>

<ul>
    <li><a th:href="@{/env}">Environment</a></li>
    <li><a th:href="@{/beans}">Beans</a></li>
    <li><a th:href="@{/health}">Health</a></li>
    <li><a th:href="@{/metrics}">Metrics</a></li>
    <li><a th:href="@{/trace}">Call trace</a></li>
</ul>

<div th:replace="footer :: copy"></div>

</body>
</html>
